
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.loading {
    /* Center the spinner */
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #2B3926;
    border-top-color: #fefef1;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.tips {
    background-color: #fff0f0;
}

.map {
    background-image: url('../map.png');
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

body {
    color: #2B3926;
    background-color: #fefef1;
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: "Bebas Neue", sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

a:hover {
    color: #2B3926;
}

.btn-basic {
    background-color: #2B3926;
    color: #fefef1;
    border-color: #2B3926;
}

.btn-basic:disabled {
    border-color: #2B3926;
    background-color: transparent;
    cursor: not-allowed;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-group {
    /* Set overflow to hidden to hide items initially */
    overflow: hidden;
}

.list-group-item {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ededed;
    background-color: transparent;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.list-group-item.show {
    opacity: 1;
}

.list-group-item .img-wrapper {
    height: 70px;
    width: 70px;
}

.list-group-item:first-child .img-wrapper {
    height: auto;
    width: 50%;
}

.list-group-item:last-child {
    border-bottom: 0;
}

.list-group-item:first-child {
    padding-top: 0;
}

.list-group-item img {
    width: 100%;
    height: 100%;
    border: 1px solid #2B3926;
}

.cursor-pointer {
    cursor: pointer;
}

.close {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0; /* Optional: remove default padding */
    cursor: pointer; /* Optional: add pointer cursor for better UX */
  }

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.event {
    overflow: hidden;
    border-radius: 0.75rem;
    /* background-color: #fff7e1; */
}

.ornament {
    opacity: 0.1;
    width: 100%;
}

.border-bottom {
    border-bottom: 1px solid #ededed !important;
}

.border-top {
    border-top: 1px solid #ededed !important;
}

.nav-item a {
    color: #2B3926;
}

.nav-link.active {
    background-color: transparent !important;
    border: 0;
    border-bottom: 2px solid #2B3926 !important;
}

.breadcrumb .breadcrumb-item a {
    text-decoration: none;
    font-size: 0.875rem;
    color: white;
}

.product-area {
    min-height: 100vh; /* Minimum height to fill the screen */
}

.content {
    padding-bottom: 60px; 
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: inherit;
}

.menu ul {
    list-style-type: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    margin: 0;
    display: flex; /* Use flexbox to align items */
    justify-content: space-around; /* Distribute items evenly */
}

.menu ul li {
    width: 25%; /* Set equal width for each list item */
    text-align: center; /* Center align the text */
    font-size: 0.75rem; /* Set smaller font size */
}

.menu ul li a {
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit text color */
}

.menu ul li i {
    display: block; /* Make the icon a block element */
    font-size: 1.25rem; /* Set icon size */
}

.overlay {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
    opacity: 0;
    pointer-events: none; /* Ensure clicks don't pass through when hidden */
    transition: opacity 0.5s ease-in-out;
}

.overlay.show {
    opacity: 1;
    pointer-events: auto; /* Allow clicks when visible */
}

.slide-div {
    z-index: 4;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80vh; /* 80% of the viewport height */
    background-color: #fff; /* Adjust background color as needed */
    overflow-y: auto; /* Allow scrolling if content exceeds the div's height */
    transform: translateY(100%);
    transition: transform 0.4s ease-in-out;
}

.slide-div.show {
    transform: translateY(0);
}

.modal-header button {
    padding: 0;
    font-size: 1.25rem;
}

.modal-content {
    border-radius: 1rem; /* Adjust the border-radius values as needed */
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.image-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0 0 0 / 50%));
}

.form-control:focus {
    border-color: #2B3926;
    box-shadow: 0 0 0 0.25rem rgb(13 225 253 / 25%);
}

.image-container {
    position: relative;
    border-radius: 0.75rem; /* Adjust as needed */
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
}

.text-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.text-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: white;
}

.market-container {
    height: 100dvh; 
    overflow: auto;
}

.search-container {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #fefef1;
}

.splash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fefef1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100dvh; 
    overflow: hidden;
    padding: 3rem;
}

.splash a {
    text-decoration: none;
    cursor: pointer;
    color: #2B3926;
    font-size: 5rem;
}

.splash p {
    font-size: 1.75rem;
}

.light {
    background-color: #fefef1;
    color: #2B3926;
}

.dark {
    background-color: #2B3926;
    color: #fefef1;
}

.fade-leave-active {
    transition: opacity 0.5s;
}
.fade-leave-to {
    opacity: 0;
}

.slide-up-enter-active, .slide-up-leave-active {
    transition: transform 0.5s;
}

.slide-up-enter, .slide-up-leave-to {
    transform: translateY(-100%);
}

.slide-down-enter-active, .slide-down-leave-active {
    transition: transform 0.5s;
}
  
.slide-down-enter, .slide-down-leave-to {
    transform: translateY(100%); /* Reverse the direction for slide-down */
}

/* CSS for list items transition */
.list-item-enter-active {
    transition: opacity 0.5s ease;
}

.list-item-enter {
    opacity: 0;
}

