<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bondens marknad - Där producenter och konsumenter möts.</title>

    <!-- Vue 3 CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">

    <link rel="stylesheet" href="./css/styles.css">

</head>

<body>
    <div id="app">

        <!-- A start page -->
        <transition name="fade">
            <div v-if="currentPage == 'start'" class="d-flex flex-column align-items-center justify-content-center splash">
                <div v-if="loading" class="loading"></div>

                <div v-else class="text-center">
                    <img src="./ornament2.png" alt="Product Image" class="rounded mb-3" style="width:100%;max-width:520px;">
                    
                    <div class="d-block bebas-neue-regular" style="line-height:1;font-size:5rem">Bondens Marknad</div>
                
                    <p class="mb-2 text-center" style="font-size:1.25rem;">Där producenter och konsumenter möts.</p>
    
                    <button @click.prevent="facebookLogin()" type="button" class="btn btn-basic rounded-pill mt-4 px-3">
                        <i class="bi bi-facebook me-2"></i>Logga in med Facebook
                    </button>
                </div>
            </div>
        </transition>

        <!-- Select buy or sell -->
        <div v-if="currentPage == 'select'" class="d-flex market-container flex-column" :class="{'dark': this.theme == 'dark'}">

            <transition name="slide-up">
                <div v-if="topVisible" @click.prevent="handleClickTop" class="split-screen top text-center align-items-center d-flex justify-content-center" style="height: 50vh;background-color: #fcfff0;">
                    <a href="#" class="text-decoration-none text-dark bebas-neue-regular" style="font-size: 6rem;color:#001600">KÖP</a>
                </div>
            </transition>

            <transition name="slide-down">
                <div v-if="bottomVisible" @click.prevent="handleClickBottom" class="split-screen bottom text-center align-items-center d-flex justify-content-center" style="height: 50vh;background-color: #001600;">
                    <a href="#" class="text-decoration-none bebas-neue-regular" style="font-size: 6rem;color: #fcfff0">SÄLJ</a>
                </div>
            </transition>
        </div>

        <div class="d-flex market-container flex-column vh-100 p-3" v-if="currentPage == 'buy'" :class="{'dark': this.theme == 'dark'}">

            <div v-if="selectedMarket" class="container-sm">

                <h1>{{ selectedMarket.name }}</h1>

                <form class="mb-3">
                    <div class="input-group">
                        <!-- <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary" type="button"><i class="bi bi-search"></i></button>
                            </div> -->
                        <input type="text" class="form-control rounded-pill px-3" placeholder="Sök vara">
                    </div>
                </form>

                <ul class="list-group">
                    <li v-for="article, index in articles" :key="index" class="list-group-item px-0 mb-2 cursor-pointer" @click.stop="openModal(article)">
                        <div class="d-flex align-items-start">
                            <img v-if="article.image" :src="article.image" alt="Product Image" class="rounded" style="max-width: 70px;border:1px solid #001600">

                            <div v-else class="bg-light rounded" style="height:70px;width:70px"></div>

                            <div class="ms-3">
                                <h5 class="mb-0">{{ article.title }}</h5>
                                <small class="mb-0">{{ article.description }}</small>
                                <strong style="font-size: 1.25rem" class="ms-auto mb-0">{{ article.price }} kr</strong>
                            </div>
                        </div>
                    </li>
                </ul>
                <footer class="footer border-top p-3">
                    <button type="button" class="btn btn-basic rounded-pill w-100" @click="openModal()">
                        <i class="bi bi-cart me-2"></i>Varukorg <span>({{ cart.length }})</span>
                    </button>
                </footer>
            </div>

            <div v-else>
                <h1>Välj marknad:</h1>
                <ul>
                    <li v-for="(market, index) in markets" :key="index">
                        <a href="" @click.prevent="selectedMarket = market">
                            <i class="bi bi-geo-alt me-2"></i>{{ market.name }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="d-flex flex-column market-container p-5" v-if="currentPage == 'sell'" :class="{'dark': this.theme == 'dark'}">
            <h1>Välj marknad:</h1>
        </div>

        <!-- Modal for adding a new article -->
        <div class="modal bottom-slide-modal fade" id="myModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog rounded-top">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 v-if="modalView == 'cart'" class="modal-title">Varukorg</h5>
                        <h5 v-else-if="modalView == 'product'" class="modal-title">Produktinformation</h5>
                        <h5 v-else-if="modalView == 'finish'" class="modal-title">Slutför</h5>
                        <button type="button" class="ms-auto btn" @click="hideModal()" aria-label="Close">
                            <i class="bi bi-chevron-down"></i>
                        </button>
                    </div>
                    <div class="modal-body p-4">
                        <div v-if="modalView == 'cart'">
                            <table v-if="cart.length" class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Art. Nr</th>
                                        <th scope="col">Artikel</th>
                                        <th scope="col">Pris</th>
                                        <th scope="col">Antal</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in cart" :key="item.id">
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.title }}</td>
                                        <td>{{ item.price }} kr</td>
                                        <td></td>
                                        <td>
                                            <button @click="removeFromCart(item)" type="button" class="close">
                                                <i class="bi bi-x-lg"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div v-else-if="modalView == 'product'">
                            <div v-if="selectedItem">
                                <img class="mb-3" :src="selectedItem.image" :alt="selectedItem.title">
                                <h5>{{ selectedItem.title }}</h5>
                                <div class="mb-3">{{ selectedItem.description }}</div>
                                <h2>{{ selectedItem.price }} kr</h2>
                            </div>
                        </div>

                        <div v-else-if="modalView == 'finish'" class="text-center">
                            <h3>Ange ditt telefonnummer:</h3>
                            <input type="text" class="form-control rounded-pill" placeholder="Telefonnummer">   
                        </div>

                        <div v-else-if="modalView == 'success'" class="text-center">
                            <h3>Tack för din beställning!</h3>
                            <p>En bekräftelse kommer att skickas via SMS.</p>
                            <button @click.prevent="facebookLogin()" type="button" class="btn btn-basic rounded-pill mt-4 px-3">
                                <i class="bi bi-facebook me-2"></i>Logga ut
                            </button>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button v-if="modalView == 'cart'" :disabled="!cart.length" type="button" class="btn btn-basic rounded-pill w-100" @click="confirmOrder">Skicka beställning</button>
             
                        <button v-if="modalView == 'product'" type="button" class="btn btn-basic rounded-pill w-100" @click="addToCart(selectedItem)" >
                            <i class="bi bi-plus-lg me-2"></i>Lägg i varukorg
                        </button>

                        <button v-if="modalView == 'finish'" type="button" class="btn btn-basic rounded-pill w-100" @click="submitOrder">
                            Bekräfta
                        </button>

                        <button v-if="modalView == 'success'" type="button" class="btn btn-basic rounded-pill w-100" @click="hideModal">
                            Stäng
                        </button>
                    </div>

                </div>
            </div>
        </div>

        <!-- <footer class="d-none footer border-top">
            <nav class="menu p-2">
                <ul>
                    <li><i class="bi bi-info-circle"></i><a href="#">Info</a></li>
                    <li><i class="bi bi-flower3"></i><a href="#">Varor</a></li>
                    <li><i class="bi bi-houses"></i><a href="#">Producenter</a></li>
                    <li @click="openModal"><i class="bi bi-cart2"></i><a href="#">Varukorg</a></li>
                </ul>
            </nav>
        </footer> -->
    </div>

    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        const { createApp } = Vue

        createApp({
            data() {
                return {
                    loading: false,
                    mode: null,
                    theme: 'light',
                    currentPage: 'start',
                    selectedMarket: null,
                    cart: [],
                    modalView: 'product',
                    topVisible: true,
                    bottomVisible: true,
                    articles: [
                        {
                            id: 1,
                            title: "Mandariner",
                            description: "Fresh organic milk from local farms",
                            image: "./frukt1.jpg",
                            price: 49.99
                        },
                        {
                            id: 2,
                            title: "Nyplockade jordgubbar",
                            description: "Juicy apples straight from the orchard",
                            image: "./frukt2.jpg",
                            price: 29.99
                        },
                        {
                            id: 3,
                            title: "Surdegslimpa",
                            description: "Delicious homemade bread baked daily",
                            image: null,
                            price: 19.99
                        },
                        {
                            id: 1,
                            title: "Mandariner",
                            description: "Fresh organic milk from local farms",
                            image: "./frukt1.jpg",
                            price: 49.99
                        },
                        {
                            id: 2,
                            title: "Nyplockade jordgubbar",
                            description: "Juicy apples straight from the orchard",
                            image: "./frukt2.jpg",
                            price: 29.99
                        },
                        {
                            id: 3,
                            title: "Surdegslimpa",
                            description: "Delicious homemade bread baked daily",
                            image: null,
                            price: 19.99
                        }
                    ],
                    categories: [
                        // Your category data
                    ],
                    markets: [
                        {
                            name: "Karlstad",
                        },
                        {
                            name: "Örebro",
                        },
                    ],
                    selectedCategories: [],
                    newItem: {
                        title: null,
                        description: null,
                        category: null,
                        image: null,
                        price: null
                    },
                    selectedItem: null
                }
            },
            mounted() {
                // Open the modal for adding a new article
                this.myModal = new bootstrap.Modal(document.getElementById('myModal'))
            },
            computed: {
                uniqueCategories() {
                    return [...new Set(this.articles.map(article => article.category))];
                },
                filteredArticles() {
                    if (this.selectedCategories.length === 0) {
                        return this.articles;
                    } else {
                        return this.articles.filter(article => this.selectedCategories.includes(article.category))
                    }
                }
            },
            methods: {
                facebookLogin() {
                    console.log('Facebook login')

                    this.loading = true
                    
                    setTimeout(() => {
                        this.currentPage = 'select'
                        this.loading = false
                    }, 1500)
                },
                addToCart(item) {
                    this.cart.push(item) // Add item to the cart array
                    this.myModal.hide()
                },
                removeFromCart(item) {
                    const index = this.cart.findIndex(cartItem => cartItem.id === item.id)

                    if (index !== -1) {
                        this.cart.splice(index, 1) // Remove item from the cart array
                    }
                },
                handleClickTop() {
                    this.theme = 'light'
                    this.topVisible = false
                    this.bottomVisible = false

                    setTimeout(() => {
                        this.currentPage = 'buy'
                    }, 500)
                },
                handleClickBottom() {
                    this.theme = 'dark'
                    this.topVisible = false
                    this.bottomVisible = false

                    setTimeout(() => {
                        this.currentPage = 'sell'
                    }, 500)
                },
                openModal(item) {
                    this.modalView = 'cart'

                    if (item) {
                        this.modalView = 'product'
                        this.selectedItem = item
                    }

                    this.myModal.show()
                },
                hideModal() {
                    this.myModal.hide()
                },
                addItem() {
                    // Add the new article to the list
                    this.articles.push({
                        id: this.articles.length + 1,
                        title: this.newItem.title,
                        description: this.newItem.description,
                        category: this.newItem.category,
                        image: this.newItem.image
                    });

                    this.myModal.hide()
                },
                confirmOrder() { 
                    if (confirm("Är du säker på att du vill beställa?")) {
                        this.submitOrder()
                        this.modalView = 'finish'
                    }
                },
                submitOrder() {
                    this.modalView = 'success'
                    this.cart = []
                }
            }
        }).mount('#app')
    </script>

</body>

</html>